$color-black: #000000;
$color-white: #ffffff;
$color-green: #75bf7a;
$color-yellow: #f7cc7f;
$color-blue: #272042;
$color-grey-100: #dadada;
$color-grey-200: #9e9da2;
$color-grey-300: #8b8ba5;

$font-family-primary: "Gilroy";
$font-family-secondary: sans-serif;
$font-size-base: 16px;

$height-header-mobile: 80px;
$height-header-desktop: 115px;
