@use "theme.module" as theme;
@import "fonts.module";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: theme.$font-family-primary, theme.$font-family-secondary;
}

html,
body {
  background-color: theme.$color-white;
  color: theme.$color-black;

  font-size: theme.$font-size-base;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 2.15rem;
  font-weight: 800;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.35rem;
}

p {
  font-size: 1rem;
}

a {
  color: theme.$color-black;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;

  font-size: 1rem;
}

input {
  border: none;
  outline: none;
}

img {
  display: block;
}

.text-green {
  color: theme.$color-green;
}

@media screen and (min-width: 1025px) {
  h2 {
    font-size: 2.8rem;
  }
}

// swiper pagination
:root {
  --swiper-pagination-color: #75bf7a;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #75bf7a;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-horizontal-gap: 3px;
}

/** 
 * Responsive design breakpoints:
 * 320px — 480px: Mobile devices
 * 481px — 768px: iPads, Tablets
 * 769px — 1024px: Small screens, laptops
 * 1025px — 1200px: Desktops, large screens
 * 1201px and more —  Extra large screens, TV
 */
