@use "@/styles/theme.module" as theme;

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: theme.$height-header-mobile;
  box-shadow: 0px 0px 2px theme.$color-green;
  background-color: theme.$color-white;
  z-index: 20;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  &-logo {
    width: 93px;
    height: 26px;

    a {
      position: relative;
      display: block;
      height: 100%;
    }
  }
}

.toggle-navbar-button {
  font-size: 1.8rem;
}

.navbar-hide {
  transform: translateX(-100%);
}

.desktop-view {
  display: none;
}

@media screen and (min-width: 769px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    height: theme.$height-header-desktop;

    &-logo {
      width: 175px;
      height: 40px;
    }
  }
}
