@use "@/styles/theme.module" as theme;

.navbar {
  position: absolute;
  top: theme.$height-header-mobile;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - theme.$height-header-mobile);

  background-color: theme.$color-green;
  transform: translateX(0%);
  transition: 0.3s ease-out;
  z-index: 20;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.5rem 0;
  }

  &-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-item {
    margin-bottom: 1rem;

    a {
      font-size: 1.25rem;
      font-weight: 500;
      color: theme.$color-white;
    }
  }

  &-image {
    position: relative;

    margin: 0.5rem 0;
    width: 175px;
    height: 175px;

    img {
      border-radius: 50%;
      object-fit: cover;

      background-color: theme.$color-white;
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    position: static;

    width: auto;
    height: auto;
    background-color: inherit;

    transform: none;
    transition: none;

    &-content {
      margin: 0;
    }

    &-items {
      flex-direction: row;
    }

    &-item {
      margin-right: 3rem;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 1.1rem;
        color: theme.$color-black;
      }
    }

    &-image {
      display: none;
    }
  }
}

@media screen and (min-width: 1025px) {
  .navbar-item a {
    font-size: 1.25rem;
  }
}
