@use "@/styles/theme.module" as theme;

.section {
  // margin-bottom: 2rem;
  padding: 1rem 0;
}

.heading {
  margin: 0.5rem 0;

  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.swiper-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem auto;
  max-width: 450px;
}

.swiper-container {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  width: 100%;
}

.swiper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 0 4px theme.$color-green;
  border-radius: 0.5rem;
  text-align: center;

  &-title {
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;

    span {
      margin-right: 1.5rem;

      font-size: 4rem;
      font-weight: 500;
      line-height: 1.35;
      color: theme.$color-green;
    }
  }

  &-image {
    margin: 0.5rem 0;
    height: auto;
    object-fit: contain;
  }

  &-description {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    color: theme.$color-grey-200;
  }
}

.swiper-pagination {
  text-align: center;
}

.benefits-block {
  display: none;
}

@media screen and (min-width: 769px) {
  .swiper-block {
    display: none;
  }

  .benefits-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5rem;

    margin: 1.5rem auto;
    max-width: 1100px;
  }

  .benefits-item {
    display: flex;
    column-gap: 2rem;
    
    margin: 0 auto;
    padding: 1.5rem 1rem;
    width: 90%;

    box-shadow: 0 0 4px theme.$color-green;
    border-radius: 0.5rem;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &-text {
      flex: 1;
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 600;
      text-align: left;

      span {
        margin-right: 1.5rem;

        font-size: 4rem;
        font-weight: 500;
        line-height: 1.35;
        color: theme.$color-green;
      }
    }

    &-description {
      margin: 0.5rem 0;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.2;
      color: theme.$color-grey-200;
    }

    &-image {
      flex: 1;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 1025px) {
  .benefits-item {
    justify-content: space-between;
    margin: 0;
    padding: 2rem;

    &:nth-of-type(odd) {
      align-self: flex-start;
    }

    &:nth-of-type(even) {
      align-self: flex-end;
    }

    &-text {
      max-width: 50%;
    }

    &-title {
      margin-bottom: 0.5rem;
      font-size: 2rem;

      span {
        font-size: 5rem;
      }
    }

    &-description {
      font-size: 1.25rem;
    }

    &-image {
      max-width: 248px;
      height: 226px;
    }
  }
}
