@use "@/styles/theme.module" as theme;

.hero {
  padding: 1rem 0;
  margin-top: theme.$height-header-mobile;

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-image {
    position: relative;
    height: 337px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;
    padding: 2rem 0;
    max-width: 500px;

    text-align: center;

    &-title {
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }

  &-actions {
    display: flex;
    align-items: center;

    margin: 1.25rem auto 1rem auto;
    max-width: 320px;

    img {
      margin-right: 0.5rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    height: calc(100vh - theme.$height-header-mobile);

    &-content {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &-text,
    &-image {
      flex: 0 1 400px;
    }

    &-text {
      margin: 0 3rem 0 0;
      max-width: none;
      text-align: left;
    }

    &-image {
      height: 582px;
    }

    &-actions {
      margin: 1.5rem 0 1rem 0;
      max-width: none;
    }
  }
}

@media screen and (min-width: 1025px) {
  .hero {
    margin-top: theme.$height-header-desktop;
    height: calc(100vh - theme.$height-header-desktop);

    &-text,
    &-image {
      flex: 0 1 625px;
    }

    &-actions {
      flex-wrap: wrap;
      margin: 2rem 0 1rem 0;

      img {
        margin-right: 1rem;
        width: 41px;
        height: 41px;
      }
    }
  }
}
